{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div id="messageJSON">
        <h3>To JSON</h3>
        <input id="toJSON" value="0">
    </div>
    <form action="/register" method="post">
        <h1>Register</h1><br>
        <div class="mb-3">
            <table class="regButtons">
                <tr>
                    <td><input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="username" type="text" value="test"></td>
                    <td><button class="btn btn-primary" id="checkUsername" type="button">check username</button></td>
                </tr>
                <tr>
                    <td><input class="form-control mx-auto w-auto" id="psw" name="password" placeholder="password" type="password"></td>
                    <td><button class="btn btn-primary" id="showPassword" type="button">show password</button></td>
                </tr>
                <tr>
                    <td><input class="form-control mx-auto w-auto" id="pswconfirm" name="confirmation" placeholder="confirm password" type="password"></td>
                </tr>
            </table>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Register</button></td>
    </div>
    </form>
    <hr />
    <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">&#10006; A <b>small (lowercase)</b> letter</p>
        <p id="capital" class="invalid">&#10006; A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">&#10006; A <b>number</b></p>
        <p id="length" class="invalid">&#10006; Minimum <b>8 characters</b></p>
        <p id="specialChar" class="invalid">&#10006; A <b>special character: ~!@#$%^&*_+=|:<>.?/ </b></p>
    </div>
    <div id="messageNew">
        <h3>Confirm Password:</h3>
        <p id="reEnterPsw">please re-enter password</p>
    </div>
    <div id="messageUser">
        <h3>Username</h3>
        <p id="reEnterUser">please enter username</p>
    </div>
    <div id="messageLower">
        <h3>To Lower</h3>
        <p id="toLowerCase"></p>
    </div>
    <script src="static/register.js"></script>
{% endblock %}
