#table_contents,
#tablePartial {
    user-select: none;
    justify-content: center;
    display: grid;
    padding: 2px;
}

#showHide {
    margin: 2px;
}

#currentMatchData,
#winnersData {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    border: 5px solid black;
}

#displayVS,
#weight_category_selected {
    color: white;
    /* mix-blend-mode: difference; */
}

#gameMatchForm {
    width: 100%;
    display: grid;
    position: relative;
    border: 5px solid black;
    table-layout: auto;
    overflow: auto;
}

#winnersData table th {
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    text-align: center;
}

/* .half-color {
    background: linear-gradient(
        to right,
        red 0%,
        red 50%,
        blue 50%,
        blue 100%)
} */

.centerText {
    text-align: center !important;
}

.dropdown-menu[data-bs-popper] {
    left: 0;
    right: 100px;
}

#currentMatchData table td {
    font-weight: bold;
    padding-right: 35px;
}

#currentMatchData table td span {
    font-weight: normal;
}

table {
    width: 100%;
    table-layout: auto;
    background: white;
    /* padding: 2px; */
}

.py-5 {
    padding-top: 1rem !important;
}

body {
    background: linear-gradient(
        to right,
        red 0%,
        red 50%,
        blue 50%,
        blue 100%)
}

.finalButtonsTable {
    display: grid;
    place-items: center;
    margin-top: 5px;
}

.advantage_points {
    width: 10px;
}

#advPointA,
#advPointB,
#advPointC,
#advPointD,
#advPointE,
#advPointF {
    border: 5px solid green;
    user-select: none;
}


#message,
#messageNew,
#messageUser {
    display: none;
    text-align: left;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 5px;
}

#message p,
#messageNew p,
#messageUser p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    /* content: "&#10006;"; */
}

.regButtons {
    position: relative;
    margin: auto;
}

#left,
#right {
    vertical-align: top;
}

#scoreboard_table {
    display: grid;
    position: relative;
}

#scoreboard_table_row {
    border: 3px solid black;
}

#scoreboard_rounds,
/* #scoreboard_scores, */
#scoreboard_adder,
#scoreboard_fouls,
#scoreboard_disarm {
    display: grid;
    place-items: center;
}

.score_title {
    font-size: 25px;
}

.score_blank {
    opacity: 0;
    empty-cells: hide;
    border: none;
}

#round1,
#round2,
#round3 {
    border: 5px solid green;
    background-color: white;
}

#score1,
#score2 {
    font-size: 100px;
}

.red_team_adder {
    border: 5px solid red;
    font-size: 15px;
    font-weight: bold;
    width: 50%;
    user-select: none;
}


.blue_team_adder {
    border: 5px solid blue;
    font-size: 15px;
    font-weight: bold;
    width: 50%;
    user-select: none;
}

th.score_subtitle,
td.advPoint {
    font-size: 8px;
    font-weight: bold;
    height: 0px;
    border: none;
}

td.red_team {
    border: 5px solid red;
    width: 40px;
    height: 40px;
    padding: 0px 15px 0px;
}

td.blue_team {
    border: 5px solid blue;
    width: 40px;
    height: 40px;
    padding: 0px 15px 0px;
}

/* td {
    border: 2px solid black;
    position: relative;
} */

iframe {
    margin: auto;
    width: 200px;
    overflow: auto;
    border: none;
}
